.no-show {
  display: none !important;
}

.avatar-outer {
    touch-action: none;
    border-radius: 100%;
    display: table;
    transition: box-shadow 0.2s;
    position: relative;

    .avatar-initial {
        user-select: none;
        color: white;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        font-family: helvetica;
        cursor: default;
    }

    .avatar-active {
        position: absolute;
        bottom: 0;
        right: 0;

        .active-icon {
            background: white;
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
    }
}

.avatar-outer[data-size=large] {
    $base-size: 4.5rem;
    width: $base-size;
    height: $base-size;
    .avatar-initial {
      font-size: calc($base-size * 4 / 9);
    }
    .avatar-active {
        width: calc($base-size / 3);
        height: calc($base-size / 3);
    }
}

.avatar-outer[data-size=small] {
    $base-size: 3rem;
    width: $base-size;
    height: $base-size;
    .avatar-initial {
      font-size: calc($base-size * 4 / 9);
    }
    .avatar-active {
        width: calc($base-size / 3);
        height: calc($base-size / 3);
    }
}
.avatar[data-self=self] {
  z-index: 1
}
