# This is where the `client` will be running
APP_URL=example.com
APP_PORT=80

# This is where the `server` will be running
API_URL=api.example.com
API_PORT=4000

# Email for letsencrypt notification
EMAIL=test@example.com
