
// Colors
$orange: #FC8030;
$white: #FCFCFC;
$gray: #808080;

$primary: $orange;
$background: #000000BA;
$disabled-background-color: #e3e3e3;
$disabled-text-color: #9d9d9d;

// Spacing
$avatar-size: 4.5rem;
$spacing: 0.5rem;

$transition-time: 0.2s;
$buttons-margin: 0.25rem;
$button-height: 2.5rem;