@import '@/constants/style.scss';
.autosleep-toggle {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid $light-gray;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
