$primary-color: rgb(247, 175, 34) ;
$secondary-color: gray;

button {
  padding: 1rem;
  border-radius: 12px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s ease-in-out 0s;
  margin: 0.3rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


button:hover {
  background-color: rgb(222, 222, 222, 0.2);
}

.primary {
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: $primary-color;
    opacity: 0.7;
  }
}


.secondary {
  background-color: $secondary-color;
  color: white;
  &:hover {
    background-color: $secondary-color;
    opacity: 0.7;
  }
}

.w-full {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.transparent {
  background-color: transparent;
}

.circle {
  border-radius: 50%;
}

.color-red {
  color: red;
}
