@import "@/constants/style";

.join-back-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    flex-basis: 45%;
  }
}

.visualizer {
    height: 10px;
    background: #FDEEC8;
    transition: width $transition-time;
}

.password-wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
  position: relative;

  .password-toggle {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 4px;
    background-color: $gray;

    &.locked-style {
      background-color: $orange;
    }
  }
  
  div {
    flex-grow: 1;

    .password-input.disabled {
      pointer-events: none;
      background-color: $disabled-background-color;

      &::placeholder {
        color: $disabled-text-color;
      }
    }
  }

  .password-visibility-button {
    $eye-width: 1rem;

    background: $no-background-color;
    color: $gray;
    width: $eye-width;
    position: absolute;
    right: calc($eye-width / 2);
  }
}
